PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-03-01 01:10:36.132863');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-03-01 01:10:36.159782');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-03-01 01:10:36.178821');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Thiago jeferson 1230456789',1,'[{"added": {}}]',7,1,'2025-03-01 14:32:54.895283');
INSERT INTO django_admin_log VALUES(2,'2','Mauricio jos├® 7098812007',1,'[{"added": {}}]',7,1,'2025-03-01 14:34:31.911439');
INSERT INTO django_admin_log VALUES(3,'1','playstation 5',1,'[{"added": {}}]',8,1,'2025-03-01 14:37:03.907843');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$870000$npCaliRjESoIBRAMfUH2JQ$+r7zVMq/R0W1ECDBhpUavFThW7kHc1O760SaaibVKmY=','2025-04-18 21:12:11.856061',1,'Pedro','','pedro@email.com.br',1,1,'2025-03-01 14:28:52.001864','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$870000$hRbc3E4teVImJlKCjquFPj$ihIS/JxfqvrWsmlZpOElY5Nz1SR5Nu7Eg/KjNOiruxQ=','2025-04-21 12:38:17.530383',0,'pedro1','','pedro@gmail.com',0,1,'2025-04-18 20:54:56.448434','');
CREATE TABLE IF NOT EXISTS "core_client" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nome" varchar(100) NOT NULL, "sobre_nome" varchar(100) NOT NULL, "email" varchar(100) NOT NULL, "cpf" varchar(11) NOT NULL, "data_nascimento" date NOT NULL, "endereco" varchar(200) NOT NULL, "telefone" varchar(11) NOT NULL);
INSERT INTO core_client VALUES(1,'Thiago','jeferson','jerfeson@email.com.br','1230456789','2005-02-19','rua da alegria','809876543');
INSERT INTO core_client VALUES(2,'Mauricio','jos├®','ze@maumau.com.br','7098812007','2002-03-01','rua da paz','1234656789');
INSERT INTO core_client VALUES(3,'Yasmin','Ribeiro Oliveira','yasminr@ibeirooliv.com.br','24457869120','2000-09-19','Rua Sandoval Arroxelas n┬░52','984635458');
CREATE TABLE IF NOT EXISTS "core_produto" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nome" varchar(255) NOT NULL, "preco" decimal NOT NULL, "estoque" integer NOT NULL, "descricao" text NOT NULL, "imagem" varchar(100) NULL);
INSERT INTO core_produto VALUES(1,'playstation 5',3600.5,8,'Video game','produtos/baixados.jpg');
INSERT INTO core_produto VALUES(2,'Nintendo swicht',1700.5,90,'Video game',NULL);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('ivfythfuy60pu9x0pr1m3tnf0pz7htqx','.eJxVjDsOAiEUAO9CbQgf-VnaewbyeA9k1UCy7FbGuxuSLbSdmcybRdi3GveR17gQuzDJTr8sAT5zm4Ie0O6dY2_buiQ-E37YwW-d8ut6tH-DCqPOrciEgNpJqcBiMeRc8uTORZfgjASJApVSORQBxmOQFtAbIo3WF2HY5wvzHTgs:1toNrk:j7iPVDbraRQNzOT7NVXtd4YxF0Q_6A4-9wXBu0y9wy8','2025-03-15 14:30:56.605746');
INSERT INTO django_session VALUES('7j0rn699yz4yvp97aog24iodhblro5rn','.eJxVjEEOwiAQRe_C2hBgClKX7nsGMsyAVA0kpV0Z765NutDtf-_9lwi4rSVsPS1hZnERRpx-t4j0SHUHfMd6a5JaXZc5yl2RB-1yapye18P9OyjYy7dOTKyc95456pxo1N4ZUNkqwgjaAGuHmUB7VgRZDeystV5BxJHOgxXvD_qzN_Q:1u6qPh:Ia-em3_M85WZ_vzH7uNqVljX_Dgt_x1fHSTg3gkTcXs','2025-05-05 12:38:17.537069');
CREATE TABLE IF NOT EXISTS "core_categoria" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nome" varchar(100) NOT NULL, "descricao" text NULL);
CREATE TABLE IF NOT EXISTS "core_avaliacao" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "comentario" text NOT NULL, "nota" integer NOT NULL, "data" datetime NOT NULL, "cliente_id" bigint NOT NULL REFERENCES "core_client" ("id") DEFERRABLE INITIALLY DEFERRED, "produto_id" bigint NOT NULL REFERENCES "core_produto" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "core_pedido" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "data_pedido" datetime NOT NULL, "cliente_id" bigint NOT NULL REFERENCES "core_client" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO core_pedido VALUES(1,'2025-04-21 12:35:46.486196',3);
CREATE TABLE IF NOT EXISTS "core_itempedido" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantidade" integer unsigned NOT NULL CHECK ("quantidade" >= 0), "produto_id" bigint NOT NULL REFERENCES "core_produto" ("id") DEFERRABLE INITIALLY DEFERRED, "pedido_id" bigint NOT NULL REFERENCES "core_pedido" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO core_itempedido VALUES(1,1,1,1);
INSERT INTO sqlite_sequence VALUES('django_migrations',20);
INSERT INTO sqlite_sequence VALUES('django_admin_log',10);
INSERT INTO sqlite_sequence VALUES('django_content_type',12);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "core_avaliacao_cliente_id_4195db80" ON "core_avaliacao" ("cliente_id");
CREATE INDEX "core_avaliacao_produto_id_a81ed9f3" ON "core_avaliacao" ("produto_id");
CREATE INDEX "core_pedido_cliente_id_484750be" ON "core_pedido" ("cliente_id");
CREATE INDEX "core_itempedido_produto_id_edf7cdfb" ON "core_itempedido" ("produto_id");
CREATE INDEX "core_itempedido_pedido_id_a233f553" ON "core_itempedido" ("pedido_id");
COMMIT;
